# **CLASSE DE CLIENTES**

Essa classe irá moldar os clientes. Será criada uma tabela com os dados dos clientes. Iremos utilizar o framework ´´pandas´´ para criar a tabela.

In [1]:
# Bibliotecas padrão:
import pandas as pd
import datetime as dt

## **CLASSE DE CLIENTES NO PANDAS**

Os clientes devem possuir os seguintes dados:
- Nome
- CPF
- Sexo
- Endereço
- Telefone
- E-mail
- Data de nascimento
- Tipo de Serviço

Agora, iremos inserir as características dos alunos no dataframe de dados dos clientes.

In [2]:
DFclientes = pd.DataFrame(columns=['Matricula', 'Nome', 'Data/Nasc', 'Sexo', 'CPF', 'Endereço','Telefone', 'Email', 'Serviços'])

# Criando uma função para a inserção de dados no modelo relacional.

In [3]:
# função para cadastrar clientes
def cadastrarCliente(matricula: int,    # Matricula do cliente
                    nome: str,          # Nome do cliente
                    data: dt.date,      # Data de nascimento do cliente
                    sexo: bool,         # Sexo do cliente
                    cpf: int,           # CPF do cliente
                    endereco: str,      # Endereço do cliente
                    telefone: int,      # Telefone do cliente
                    email: str,         # Email do cliente
                    servico: tuple):    # Serviço do cliente
    
    # --------------------------------------------------------------------- #

    # VERIFICA INCONSISTÊNCIA NO CADASTRO   

    # Matricula

    # Se a matricula já esiver cadastrada, retorna erro
    if matricula in DFclientes['Matricula']:
        print('Matricula já cadastrada')
        return None

    # Nome
    
    # Se o nome for menor que 3 ou maior que 50, retorna erro
    if len(nome) < 3 or len(nome) > 50:
        print('Nome muito curto ou muito grande')
        return None
    
    # Se o nome já estiver cadastrado, retorna erro
    if nome in DFclientes['Nome']:
        print('Nome já cadastrado')
        return None
    
    # Data de nascimento

    # CPF

    # Se o CPF já estiver cadastrado, retorna erro
    if cpf in DFclientes['CPF']:
        print('CPF já cadastrado')
        return None
    
    # Endereço

    # Se o endereço for menor que 5 ou maior que 70, retorna erro
    if len(endereco) < 5 or len(endereco) > 70:
        print('Endereço muito curto ou muito grande')
        return None
    
    # Telefone

    # Se o telefone for menor que 8 ou maior que 10, retorna erro
    if len(str(telefone)) < 8 or len(str(telefone)) > 10:
        print('Telefone muito curto ou muito grande')
        return None

    # Email

    # Se o email for menor que 5 ou maior que 50, retorna erro
    if len(email) < 5 or len(email) > 50:
        print('Email muito curto')
        return None

    # Se o email já estiver cadastrado, retorna erro
    if email in DFclientes['Email']:
        print('Email já cadastrado')
        return None
    
    # Serviço

    if len(servico) > 3:
        print('Número de Serviços Inválido: Número muito grande')
        return None
    
    # --------------------------------------------------------------------- #
    # Insere os dados no DataFrame dos clientes
    
    DFclientes.loc[len(DFclientes)] = [matricula, nome, data, sexo, cpf, endereco, telefone, email, servico]

    # -- Mesagem Falando o Status do Cadastro
    print('Cliente cadastrado com sucesso!')
    
    return None

Vamos testar a função para a inserção de dados. Neste exemplo, será consirerado uma situação onde um **cursinho** terá uma base de dados de **alunos**:

In [4]:
# Iremos testar a função cadastrarCliente()
cadastrarCliente(1, 'João Santino', dt.date(1998, 1, 3), True, 123456789, 'Rua 1', 23456789, 'email1@gmail.com', ['matemática', 'inglês'])
cadastrarCliente(2, 'Maria Vitctoria', dt.date(2000, 1, 4), False, 123456789, 'Rua 2', 22222223, 'emailmaria@hotmail.com', ['matemática'])
cadastrarCliente(3, 'Léo Sales', dt.date(2001, 2, 10), True, 123456789, 'Rua 3', 33333334, 'emailleo@hotmail.com', ['matemática', 'português'])
cadastrarCliente(4, 'Madre Teresino', dt.date(2002, 1, 14), False, 123456789, 'Rua Denório', 44444449, 'emailmadre@hotmail.com', ['matemática', 'fisica'])
cadastrarCliente(5, 'Thiago Ferreira', dt.date(1990, 8, 21), True, 123456789, 'Rua Flincher', 66666666, 'thiagoa@hotmail.com', ['matemática'])
cadastrarCliente(6, 'Douglas Costela', dt.date(1999, 4, 16), True, 123456789, 'Rua 14', 72538173, 'costadouglas@hotmail.com', ['português', 'teologia'])
cadastrarCliente(7, 'Snnider Scharwttiger', dt.date(2008, 1, 11), True, 123456789, 'Rua das 24', 13582849, 'desta@hotmail.com', ['fisica', 'quimica'])

Cliente cadastrado com sucesso!
Cliente cadastrado com sucesso!
Cliente cadastrado com sucesso!
Cliente cadastrado com sucesso!
Cliente cadastrado com sucesso!
Cliente cadastrado com sucesso!
Cliente cadastrado com sucesso!

In [5]:
# Vizualizando o Banco de dados:
display(DFclientes)

,Matricula,Nome,Data/Nasc,Sexo,CPF,Endereço,Telefone,Email,Serviços
0,1,João Santino,1998-01-03,True,123456789,Rua 1,23456789,email1@gmail.com,"[matemática, inglês]"
1,2,Maria Vitctoria,2000-01-04,False,123456789,Rua 2,22222223,emailmaria@hotmail.com,[matemática]
2,3,Léo Sales,2001-02-10,True,123456789,Rua 3,33333334,emailleo@hotmail.com,"[matemática, português]"
3,4,Madre Teresino,2002-01-14,False,123456789,Rua Denório,44444449,emailmadre@hotmail.com,"[matemática, fisica]"
4,5,Thiago Ferreira,1990-08-21,True,123456789,Rua Flincher,66666666,thiagoa@hotmail.com,[matemática]
5,6,Douglas Costela,1999-04-16,True,123456789,Rua 14,72538173,costadouglas@hotmail.com,"[português, teologia]"
6,7,Snnider Scharwttiger,2008-01-11,True,123456789,Rua das 24,13582849,desta@hotmail.com,"[fisica, quimica]"

Esse banco de dados será exportado para um arquivo relacional em formato CSV.

In [6]:
# Exporta o Banco de dados para um arquivo CSV para a pasta DadosSistema
DFclientes.to_csv('DadosSistema/Clientes.csv', index=False)