# **CLASSE DE EVENTOS**

Essa classe é responsável por armazenar os eventos que ocorrem no sistema.

**Exemplos:**

- Alocar corretamente as aulas - envolve professores e alunos.
- Alocar corretamente os laboratórios - envolve profissionais capacitados do lab. e inciantes.
- Alocar corretamente um profissional do marketing com determinado produto específico.

Para realizar essa tarefa, a classe deve realizar consultas nas tabelas de dadosn dos clientes e funcionários e verificar a disponibilidade de cada um deles.

In [1]:
# Importa as bibliotecas necessárias
import pandas as pd
import matplotlib.pyplot as plt

## **Realiza a consulta nas tabelas**

In [2]:
# Utiliza o arquivo csv dos Clientes
DFclientes = pd.read_csv('DadosSistema/Clientes.csv')
# Utiliza o arquivo csv dos Funcionários
DFfuncionarios = pd.read_csv('DadosSistema/Funcionarios.csv')

Verifica brevemente se os dados estão sendo importados corretamente.

In [3]:
DFclientes.head(3)

,Matricula,Nome,Data/Nasc,Sexo,CPF,Endereço,Telefone,Email,Serviços
0,1,João Santino,1998-01-03,True,123456789,Rua 1,23456789,email1@gmail.com,"['matemática', 'inglês']"
1,2,Maria Vitctoria,2000-01-04,False,123456789,Rua 2,22222223,emailmaria@hotmail.com,['matemática']
2,3,Léo Sales,2001-02-10,True,123456789,Rua 3,33333334,emailleo@hotmail.com,"['matemática', 'português']"

In [4]:
DFfuncionarios.head(3)

,Matricula,Nome,CPF,Sexo,Endereço,Telefone,Email,Data/Nasc,Função
0,12345,André,2002-02-20,True,66485800461,Avenida nascimento de castro 1640,988111773,andredamasiodemiranda@gmail.com,"['fisica', 'matematica']"
1,12345,Kleyton,1998-06-10,True,38593800438,Avenida nascimento de castro 123,988111873,profkneenndey@gmail.com,"['quimica', 'portugues']"

## **Correlaciona cada aluno com os professores**

In [9]:
Servicos = DFclientes['Serviços']
Funcao = DFfuncionarios['Função']

print(Servicos, '\n', Funcao)

0       ['matemática', 'inglês']
1                 ['matemática']
2    ['matemática', 'português']
3       ['matemática', 'fisica']
4                 ['matemática']
5      ['português', 'teologia']
6          ['fisica', 'quimica']
Name: Serviços, dtype: object
 0    ['fisica', 'matematica']
1    ['quimica', 'portugues']
Name: Função, dtype: object

## **Algumas Consultas:**

- Quantos alunos estão matriculados em um determinado curso?
- Quais os números dos professores?
- Quantas matérias estão disponíveis nesse cursinho?
- Existe algum aluno chamado João Victor?