# **CLASSE DE FUNCIONÁRIOS**

Essa classe irá moldar os funcionários. Será criada uma tabela com os dados dos funcionários. Iremos utilizar o framework "pandas" para criar a tabela

In [1]:
# Biblioteca padrão:
import pandas as pd
import datetime as dt

# **CLASSE DE FUNCIONÁRIOS NO PANDAS**

Os funcionários devem possuir os seguintes dados:
- Matrícula
- Nome
- CPF
- Sexo
- Telefone
- E-mail
- Data de nascimento
- Função 

Agora, iremos inserir as características dos funcionários no dataframe de dados dos professores.

In [2]:
DFfuncionarios = pd.DataFrame(columns = ['Matricula' , 'Nome' , 'CPF' , 'Sexo' ,'Endereço' ,'Telefone' , 'Email' , 'Data/Nasc' , 'Função' ])

# Criando uma função para inserção de dados no modelo relacional.

In [3]:
# função para cadastrar Funcionários
def cadastrarFuncionario(matricula: int,
                    nome: str,
                    data: dt.date,
                    sexo: bool,
                    cpf: int,
                    endereco: str,
                    telefone: int,
                    email: str,
                    funcao: tuple):
    
    # --------------------------------------------------------------------- #

    # VERIFICA INCONSISTÊNCIA NO CADASTRO   

    # Matricula

    # Se a matricula já esiver cadastrada, retorna erro
    if matricula in DFfuncionarios['Matricula']:
        print('Matricula já cadastrada')
        return None

    # Nome
    
    # Se o nome for menor que 3 ou maior que 50, retorna erro
    if len(nome) < 3 or len(nome) > 50:
        print('Nome muito curto ou muito grande')
        return None
    
    # Se o nome já estiver cadastrado, retorna erro
    if nome in DFfuncionarios['Nome']:
        print('Nome já cadastrado')
        return None
    
    # Data de nascimento

    # CPF

    # Se o CPF já estiver cadastrado, retorna erro
    if cpf in DFfuncionarios['CPF']:
        print('CPF já cadastrado')
        return None
    
    # Endereço

    # Se o endereço for menor que 5 ou maior que 70, retorna erro
    if len(endereco) < 5 or len(endereco) > 70:
        print('Endereço muito curto ou muito grande')
        return None
    
    # Telefone

    # Se o telefone for menor que 8 ou maior que 10, retorna erro
    if len(str(telefone)) < 8 or len(str(telefone)) > 10:
        print('Telefone muito curto ou muito grande')
        return None

    # Email

    # Se o email for menor que 5 ou maior que 50, retorna erro
    if len(email) < 5 or len(email) > 50:
        print('Email muito curto')
        return None

    # Se o email já estiver cadastrado, retorna erro
    if email in DFfuncionarios['Email']:
        print('Email já cadastrado')
        return None
    
    # Serviço

    if len(funcao) > 3:
        print('Número de Serviços Inválido: Número muito grande')
        return None
    
    # --------------------------------------------------------------------- #
    
    DFfuncionarios.loc[len(DFfuncionarios)] = [matricula, nome, data, sexo, cpf, endereco, telefone, email, funcao]

    # -- Mesagem Falando o Status do Cadastro
    print('Funcionário cadastrado com sucesso!')
    
    return None

Vamos testar a função para a inserção de dados. Neste exemplo, será consirerado uma situação onde um **cursinho** terá uma base de dados de **professores**:

In [4]:
# Iremos testar a função cadastrarFuncionario()
cadastrarFuncionario(12345, 'André' , dt.date(2002,2,20), True, 66485800461 , 'Avenida nascimento de castro 1640' , 988111773 , 'andredamasiodemiranda@gmail.com' , ['fisica', 'matematica'])
cadastrarFuncionario(92745, 'Kleyton' , dt.date(1998,6,10), True, 38593800438 , 'Avenida nascimento de castro 123' , 188211873 , 'profkneenndey@gmail.com' , ['quimica', 'portugues'])

Funcionário cadastrado com sucesso!
Funcionário cadastrado com sucesso!

In [5]:
# Vizualizando no banco de dados:
display(DFfuncionarios)

,Matricula,Nome,CPF,Sexo,Endereço,Telefone,Email,Data/Nasc,Função
0,12345,André,2002-02-20,True,66485800461,Avenida nascimento de castro 1640,988111773,andredamasiodemiranda@gmail.com,"[fisica, matematica]"
1,92745,Kleyton,1998-06-10,True,38593800438,Avenida nascimento de castro 123,188211873,profkneenndey@gmail.com,"[quimica, portugues]"

Esse banco de dados será exportado para um arquivo relacional em formato CSV.

In [6]:
# Exporta o Banco de dados para um arquivo CSV para a pasta DadosSistema
DFfuncionarios.to_csv('DadosSistema/Funcionarios.csv', index=False)